.details {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 134%;
	color: #1b1b1a;
	margin-bottom: 20px;
}

.details span {
	font-weight: 700;
	color: #bc9144;
}

.new-body {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.new-body-img {
	width: 45%;
	height: 50%;
}

.new-body-img img {
	width: 100%;
	height: 100%;
}

.new-body-img input[type="file"] {
	display: none;
}

.new-form {
	width: 50%;
}

.new-form .new-form-group {
	margin-bottom: 15px;
}

.new-form-group input {
	width: 100%;
	padding: 17px 0px 17px 30px;
	border: none;
	color: #070707;
	outline: none;
	background-color: #f1f1f1;
}

.new-form-group textarea {
	width: 100%;
	padding: 30px 0px 0px 30px;
	height: 250px;
	border: none;
	color: #070707;
	outline: none;
	background-color: #f1f1f1;
}

.action-buttons {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.action-buttons button:first-child {
	margin-right: 20px;
}

.new-amenities {
	width: 50%;
	background-color: #f1f1f1;
	height: 250px;
	padding-left: 30px;
	padding-top: 30px;
}

.new-amenities p {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #070707;
	line-height: 147%;
}

.new-amenities span {
	font-style: italic;
}

.new-amenities input {
	width: 93%;
	box-sizing: border-box;
	padding: 13px 0px 13px 21px;
	outline: none;
	border: 1px solid #cccccc;
	margin-top: 20px;
}

.amenities-detail div {
	background-color: #bc9144;
	width: 30%;
	margin-left: 10px;
	margin-top: 20px;
	padding: 15px 0px;
	color: #070707;
	font-size: 12px;
	font-weight: 400;
	font-family: "Roboto", sans-serif;
	text-align: center;
	display: inline-block;
}

.amenities-detail div:first-child,
.amenities-detail div:nth-child(4) {
	margin-left: 0px;
}

.pagination-btns {
	display: flex;
	list-style-type: none;
}

.paginationActive {
	background-color: #bc9144;
}
